@use '../variables' as v;

.review {
  border-radius: 0.5rem;
  padding: 0.75rem;

  &__source {
    h4 {
      margin: 0.5rem 0 0;
    }
  }

  @media (min-width: v.$breakpoint-desktop) {
    display: flex;
    width: 80%;
    align-items: center;

    &__stars {
      display: flex;
      gap: 0.25rem;
      padding-left: 0.75rem;
    }
  }

  @media (prefers-color-scheme: light) {
    background-color: var(--magenta-100);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-400);
  }
}
