html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*::after,
*::before {
  font-family: var(--font-family);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

:root {
  --magenta-300: hsl(300, 43%, 22%);
  --magenta-200: hsl(303, 10%, 53%);
  --magenta-100: hsl(300, 24%, 96%);
  --pink-100: hsl(333, 80%, 67%);
  --white: hsl(0, 0%, 100%);
  --font-family: "League Spartan", sans-serif;
}

.accent {
  color: var(--magenta-300);
}

.container {
  margin-inline: auto;
  max-width: 85%;
}
@media (min-width: 60.375em) {
  .container {
    width: clamp(51.31875em, 70%, 62.5rem);
  }
}

._app {
  background-color: var(--white);
  background-image: url("../../../images/bg-pattern-top-mobile.svg"), url("../../../images/bg-pattern-bottom-mobile.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  min-height: 100vh;
}
@media (min-width: 376px) {
  ._app {
    background-image: url("../../../images/bg-pattern-top-desktop.svg"), url("../../../images/bg-pattern-bottom-desktop.svg");
  }
}

.header {
  padding-top: 5rem;
  text-align: center;
}
.header__headline {
  margin-bottom: 2.5rem;
}
.header__headline h1 {
  font-size: clamp(2.5rem, 5vw, 3rem);
  font-weight: 700;
  line-height: 0.8;
}
.header__headline p {
  color: var(--magenta-200);
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.4;
}
.header__ratings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 60.375em) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-items: center;
    text-align: left;
  }
  .header__headline h1 {
    max-width: 80%;
  }
  .header__headline p {
    max-width: 80%;
  }
  .header__ratings :nth-child(1) {
    margin-inline-end: auto;
  }
  .header__ratings :nth-child(2) {
    margin-inline: auto;
  }
  .header__ratings :nth-child(3) {
    margin-inline-start: auto;
  }
}

.review {
  background-color: var(--magenta-100);
  border-radius: 0.5rem;
  padding: 0.75rem;
}
.review__source h4 {
  margin: 0.5rem 0 0;
}
@media (min-width: 60.375em) {
  .review {
    display: flex;
    width: 80%;
    align-items: center;
  }
  .review__stars {
    display: flex;
    gap: 0.25rem;
    padding-left: 0.75rem;
  }
}

/*# sourceMappingURL=style.css.map */
