:root {
  --magenta-300: hsl(300, 43%, 22%);
  --magenta-200: hsl(303, 10%, 53%);
  --magenta-100: hsl(300, 24%, 96%);
  --pink-100: hsl(333, 80%, 67%);
  --white: hsl(0, 0%, 100%);
  --font-family: 'League Spartan', sans-serif;
}
